footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: #d4af37;
    text-align: center;
    padding: 10px 0;
    font-family: 'Caudex', serif;
}

footer a {
    display: block;
    margin-top: 15px;
    color: #aa0000;
    font-family: 'Cinzel', serif;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #d4af37;
    text-decoration: underline;
}