body {
    background-color: #2a0000;
    font-family: 'Caudex', serif;
    color: #d4af37;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.participar-container {
    background: rgba(40, 10, 10, 0.9);
    border: 3px solid #d4af37;
    border-radius: 15px;
    padding: 50px 60px;
    width: 480px;
    text-align: center;
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.3);
}

.participar-titulo {
    font-family: 'MedievalSharp', cursive;
    font-size: 2em;
    margin-bottom: 25px;
    color: #ffd700;
    letter-spacing: 1px;
}

h3 {
    font-weight: bold;
    font-size: 1.8em;
    color: #d4af37;
    text-shadow: 2px 2px 6px #000;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 3px;
}

.mensagem {
    background: rgba(80, 20, 20, 0.7);
    border: 2px solid #a67c00;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.1em;
    color: #ffd700;
    margin-top: 20px;
    box-shadow: inset 0 0 10px rgba(212, 175, 55, 0.3);
}

.participar-botoes {
    margin-top: 40px;
}

.btn-voltar {
    text-decoration: none;
    font-family: 'Caudex', serif;
    background-color: #550000;
    color: #d4af37;
    border: 2px solid #d4af37;
    padding: 10px 25px;
    border-radius: 12px;
    transition: 0.3s ease;
    box-shadow: 0 0 8px rgba(212, 175, 55, 0.3);
}

.btn-voltar:hover {
    background-color: #d4af37;
    color: #3a0000;
    box-shadow: 0 0 12px #ffd700;
    transform: scale(1.05);
    cursor: pointer;
}

@media (max-width: 600px) {
    .participar-container {
        width: 85%;
        padding: 30px 20px;
    }

    .participar-titulo {
        font-size: 1.6em;
    }
}