body {
    background: radial-gradient(circle at center, #550000 0%, #550000 100%);
    font-family: 'Caudex', cursive;
    color: #550000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 80px auto;
    padding: 40px;
    background: linear-gradient(180deg, #3b0a00 0%, #2a0000 100%);
    border: 2px solid #800000;
    border-radius: 20px;
    box-shadow: 800000;
    position: relative;
}

.foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.foto-perfil img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #800000;
    box-shadow: 0 0 15px rgba(170, 0, 0, 0.6);
    background-color: #550000;
}

.dados-usuario {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(170, 0, 0, 0.6);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
}

.dados-usuario p {
    font-size: 1.05rem;
    margin: 10px 0;
    color: #ffe8b5;
}

.dados-usuario strong {
    color: #ffd700;
}

.botoes-perfil {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn-success {
    background: linear-gradient(135deg, #800000, #550000, #aa0000);
    border: 2px solid #b85c3a;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 1em;
    color: #f8e6c1;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 12px #aa0000, inset 0 0 8px #550000;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-success:hover {
    background: linear-gradient(135deg, #990000, #660000, #bb2222);
    box-shadow: 0 0 8px #d4af37, 0 0 15px #880000, inset 0 0 6px #660000;
    border: 2px solid #fff2a8;
    transform: scale(1.03);
    color: #fff2a8;
}

.btn-secondary {
    background: linear-gradient(135deg, #800000, #550000, #aa0000);
    border: 2px solid #b85c3a;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 1em;
    color: #f8e6c1;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 12px #aa0000, inset 0 0 8px #550000;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-secondary:hover {
    background: linear-gradient(135deg, #990000, #660000, #bb2222);
    box-shadow: 0 0 8px #d4af37, 0 0 15px #880000, inset 0 0 6px #660000;
    border: 2px solid #fff2a8;
    transform: scale(1.03);
    color: #fff2a8;
}

.msg-retorno {
    margin-top: 20px;
    text-align: center;
}
@media (max-width: 768px) {
    .container {
        padding: 25px;
        margin: 50px 15px;
    }

    h3.text-center {
        font-size: 1.8rem;
    }
}