body {
    background-color: #800000;
    font-family: 'Caudex', serif;
    color: #d4af37;
    margin: 0;
}

.container {
    margin-top: 100px;
    padding: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-family: 'Caudex', cursive;
    font-size: 3.5em;
    color: #d4af37;
    text-shadow: 2px 2px 5px #000;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 3px;
}

p {
    font-family: 'Caudex', cursive;
    font-size: 2.5em;
    color: #d4af37;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
    letter-spacing: 5px;
    margin: 0;
    white-space: nowrap;
    
}

.grid-salas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card-sala {
    background-color: #110000;
    border: 2px solid #d4af37;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 0 10px rgba(170, 0, 0, 0.6);
}

.card-sala img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}

.card-sala h3 {
    font-family: 'Caudex', serif;
    color: #d4af37;
    text-shadow: 1px 1px 4px #000;
    margin: 10px 0;
}

.card-sala p {
    color: #f0d9a7;
    font-size: 0.85em;
    margin-bottom: 10px;
}

.card-sala:hover {
    box-shadow: 0 0 20px #000000;
    transform: scale(1.05);
}

.btn-detalhes {
    background: linear-gradient(135deg, #800000, #550000, #aa0000);
    border: 2px solid #b85c3a;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    font-size: 1.1em;
    color: #f8e6c1;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 15px #aa0000, inset 0 0 10px #550000;
    transition: all 0.3s ease;
}

.btn-detalhes:hover {
    background: linear-gradient(135deg, #aa0000, #800000, #ff3333);
    box-shadow: 0 0 25px #ff6600, inset 0 0 12px #aa0000;
    transform: scale(1.05);
}

a {
    display: block;
    margin-top: 15px;
    color: #aa0000;
    font-family: 'Cinzel', serif;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #d4af37;
    text-decoration: underline;
}

.card-sala-detalhe {
    background-color: #110000;
    border: 2px solid #d4af37;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 40px auto;
    box-shadow: 0 0 15px rgba(170, 0, 0, 0.7);
}

.acoes-sala {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.btn-acao {
    background: linear-gradient(135deg, #800000, #550000, #aa0000);
    border: 2px solid #b85c3a;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1em;
    color: #f8e6c1;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 15px #aa0000, inset 0 0 10px #550000;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-acao:hover {
    background: linear-gradient(135deg, #aa0000, #800000, #ff3333);
    box-shadow: 0 0 25px #ff6600, inset 0 0 12px #aa0000;
    transform: scale(1.05);
    color: #f8e6c1;
}

.btn-excluir {
    background: linear-gradient(135deg, #800000, #550000, #aa0000);
    border: 2px solid #b85c3a;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1em;
    color: #f8e6c1;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 15px #aa0000, inset 0 0 10px #550000;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-excluir:hover {
    background: linear-gradient(135deg, #aa0000, #800000, #ff3333);
    box-shadow: 0 0 25px #ff6600, inset 0 0 12px #aa0000;
    transform: scale(1.05);
    color: #f8e6c1;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: #d4af37;
    text-align: center;
    padding: 10px 0;
    font-family: 'Caudex', serif;

}