body {
    background-color: #971414;
    font-family: 'Caudex', serif;
    color: #d4af37;
    margin: 0;
}

/* Menu no topo */
.dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 15px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.dropdown-menu a {
    color: #d4af37;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Cinzel', serif;
}

.dropdown-menu a:hover {
    color: #fff;
}

/* Container principal */
.container {
    margin-top: 100px;
    /* espaço pro menu */
    padding: 40px;
    max-width: 1200px;
    /* largura máxima do conteúdo */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Título centralizado */
h1 {
    font-family: 'Caudex', cursive;
    color: #d4af37;
    text-shadow: 2px 2px 5px #000;
    margin-bottom: 40px;
    text-align: center;
}

/* Grid de salas (4 colunas fixas) */
.grid-salas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* Card da sala */
.card-sala {
    background: black;
    border: 2px solid #d4af37;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease;
}

.card-sala img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card-sala h3 {
    font-family: 'Caudex', serif;
    color: #d4af37;
    margin: 10px 0;
}

.card-sala p {
    color: #d4af37;
    font-size: 0.9em;
}

.card-sala:hover {
    transform: scale(1.05);
}

/* Botão */
button {
    background: linear-gradient(135deg, #800000, #550000, #aa0000);
    border: 2px solid #b85c3a;
    padding: 14px;
    border-radius: 12px;
    width: 100%;
    font-size: 1.1em;
    color: #f8e6c1;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 15px #aa0000, inset 0 0 10px #550000;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #aa0000, #800000, #ff3333);
    box-shadow: 0 0 25px #ff6600, inset 0 0 12px #aa0000;
    transform: scale(1.05);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: #d4af37;
    text-align: center;
    padding: 10px 0;
    font-family: 'Caudex', serif;
}