body {
    background-color: #550000;
    font-family: 'Caudex', cursive;
    color: #d4af37;
    margin: 0;
    padding: 20px;
}

.container {
    padding: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {

    font-weight: bold;
    font-size: 1.8em;
    color: #d4af37;
    text-shadow: 2px 2px 6px #000;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 3px;
}

p {
    font-family: 'Caudex', cursive;
    color: #d4af37;
    text-shadow: 2px 2px 6px #000;
    text-align: center;
}

.grid-salas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.card-sala {
    background: rgba(20, 5, 5, 0.85);
    border: 2px solid #550000;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 15px rgba(170, 0, 0, 0.6);
}

.card-sala img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 12px;
}

.card-sala h3 {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    color: #d4af37;
    text-shadow: 0 0 6px #2b0000;
    margin-bottom: 40px;
    margin: 10px 0;
}

.card-sala p {
    color: #f0d9a7;
    font-size: 0.9em;
    margin-bottom: 12px;
}

.card-sala:hover {
    box-shadow: 0 0 25px #aa0000;
    transform: scale(1.05);
}

.btn-detalhes,
.btn-acao,
.btn-excluir,
.btn {
    background: linear-gradient(135deg, #800000, #550000, #aa0000);
    border: 2px solid #b85c3a;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 1em;
    color: #f8e6c1;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 12px #aa0000, inset 0 0 8px #550000;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-detalhes:hover,
.btn-acao:hover,
.btn-excluir:hover,
.btn:hover {
    background: linear-gradient(135deg, #990000, #660000, #bb2222);
    box-shadow: 0 0 8px #d4af37, 0 0 15px #880000, inset 0 0 6px #660000;
    border: 2px solid #fff2a8;
    transform: scale(1.03);
    color: #fff2a8;
}


.card-sala-detalhe {
    background: rgba(20, 5, 5, 0.9);
    border: 2px solid #550000;
    border-radius: 15px;
    padding: 25px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(170, 0, 0, 0.7);

}

.acoes-sala {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

a {
    display: block;
    margin-top: 15px;
    color: #aa0000;
    font-family: 'Cinzel', serif;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #d4af37;
    text-decoration: underline;
}

.actions {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.actions+.actions {
    margin-top: 20px;
}

.btn {
    background: linear-gradient(135deg, #800000, #550000, #aa0000);
    border: 2px solid #b85c3a;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 1em;
    color: #f8e6c1;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 15px #aa0000, inset 0 0 10px #550000;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background: linear-gradient(135deg, #aa0000, #800000, #ff3333);
    box-shadow: 0 0 25px #ff6600, inset 0 0 12px #aa0000;
    transform: scale(1.05);
    color: #f8e6c1;
}